<md-dialog  ng-cloak>
<form autocomplete="off">
  <md-dialog-content>
            <div class="md-dialog-content">
        Challenge: {{pinInfo.middlePin}}
                <md-input-container class="md-block">
                    <label>Password: </label>
                    <input  ng-model="pinEntered" type="password" />
         </md-input-container>
     </div>
        </md-dialog-content>
        
  <md-dialog-actions layout="row">
       <span flex></span>
      <md-button ng-click="answer(-1)">
       Annuler
      </md-button>
      <md-button ng-click="answer(pinEntered)">
        OK
      </md-button>
    </md-dialog-actions>
       </form>
      </md-dialog>
   