<head>
<meta charset="UTF-8">
</head>

<div class="container">

	<div class="alert alert-danger" ng-if="punitionMessage&&error">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{punitionMessage}}
	</div>
	<div class="alert alert-success" ng-if="punitionMessage&&!error">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{punitionMessage}}
	</div>
	<div>
		<img src="img/tele.png" width="175" height="182" alt="" />
	</div>
	<div class="panel panel-default boxing-panel">
		<div class="panel-heading">
			<h3 class="panel-title">Contrôle</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<span class="col-sm-3">
					<button ng-click="showAdvancedControlTV($event,-2)"
						class="btn btn-success col-sm-12">ON</button>
				</span> <span class="col-sm-3"><button
						ng-click="showAdvancedControlTV($event,-1)"
						class="btn btn-danger col-sm-12">OFF</button> </span> <span class="col-sm-3">
					<button ng-click="showAdvancedControlTV($event,1800)"
						class="btn btn-info   col-sm-12">30mn</button>
				</span> <span class="col-sm-3">
					<button ng-click="showAdvancedControlTV($event,3600)"
						class="btn btn-info col-sm-12">60mn</button>
				</span>
			</div>
		</div>
	</div>

	<div class="panel panel-default boxing-panel">
		<div class="panel-heading">
			<h3 class="panel-title">Punition/récompense</h3>
		</div>
		<div class="panel-body">
			<div class="row">
			 <span class="col-sm-4">
				<button
					ng-click="showAdvancedConfirmPunition($event,-20,'desobeissance')"
					class="btn btn-danger col-sm-12">Mauvais point</button>
			</span> <span class="col-sm-4">	<button
					ng-click="showAdvancedConfirmPunition($event,-1000,'privetele')"
					class="btn btn-danger col-sm-12">Privé de télé</button>
			</span> <span class="col-sm-4">	<button
					ng-click="showAdvancedConfirmPunition($event,20,'recompense')"
					class="btn btn-success col-sm-12">Obéit</button>
			</span>
			</div>
		</div>
	</div>


	<div class="panel panel-default boxing-panel">
		<div class="panel-heading">
			<h3 class="panel-title">Etat</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<span class="col-sm-6 btn-tv"> Statut Télé</span><span
					ng-if="tvstatus.activeStandbyState==0"
					class="col-sm-3 label label-success  btn-tv"> On </span> <span
					ng-if="tvstatus.activeStandbyState==1"
					class="col-sm-3  label label-danger  btn-tv"> Off </span>
			</div>
			<!-- Chaine regardée-->

			<div class="row">
				<div
					ng-if="tvstatus.activeStandbyState==0 && tvstatus.playedMediaId">
					<span class="col-sm-6  btn-tv"> Chaine </span> <span
						class="col-sm-3 label label-info  btn-tv">{{tvstatus.playedMediaId}}</span>
				</div>
			</div>
		<div class="row">
				<div>
					<span class="col-sm-6  btn-tv"> Consommé aujourd'hui</span> <span
						class="col-sm-3">{{tvstatus.minutesToday}}</span>
				</div>
			</div>

			<div class="row">
				<span class="col-sm-4  btn-tv"> {{tvstatus.remainingTime}} </span>
			</div>

			<div>
				<h4>Prochain crédit</h4>
				<div ng-if="tvstatus.dateStr" class="row">

					<span class="col-sm-12  btn-tv">
						{{tvstatus.amountOfCreditInMinutes}} minutes le
						{{tvstatus.dateStr}} </span>
				</div>
			<h4>Bons Points</h4>
				<div ng-if="tvstatus" class="row">
			<span class="col-sm-12  btn-tv">
						Total: {{tvstatus.bonPoints}}
			</span>
			</div>

			<div ng-if="tvstatus" class="row">
			<span class="col-sm-12  btn-tv">
						Depuis le debut de la semaine: {{tvstatus.bonPointsWeek}}
			</span>
				
			</div>
				
	


			</div>
		</div>
	</div>



</div>
